filters
target/
overlays/
.idea/
out/
*.iml
*.ipr
*.iws
patientview-parent/patientview/src/main/webapp/WEB-INF/
!patientview-parent/patientview/src/main/webapp/WEB-INF/web.xml
patientview-parent/patientview/src/main/webapp/META-INF/
