target/
overlays/
.idea/
out/
*.iml
*.ipr
*.iws
src/main/webapp/WEB-INF/
!src/main/webapp/WEB-INF/web.xml
src/main/webapp/META-INF/
*.xml

*.dtd

*.jar

*.properties

*.sql

*.class

*.tld

*.txt

patientview/src/main/filters

patientview/src/main/filters

patientview/src/main/filters

patientview/src/main/filters
