<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ PatientView
  ~
  ~ Copyright (c) Worth Solutions Limited 2004-2013
  ~
  ~ This file is part of PatientView.
  ~
  ~ PatientView is free software: you can redistribute it and/or modify it under the terms of the
  ~ GNU General Public License as published by the Free Software Foundation, either version 3 of the License,
  ~ or (at your option) any later version.
  ~ PatientView is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
  ~ the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~ You should have received a copy of the GNU General Public License along with PatientView in a file
  ~ titled COPYING. If not, see <http://www.gnu.org/licenses/>.
  ~
  ~ @package PatientView
  ~ @link http://www.patientview.org
  ~ @author PatientView <info@patientview.org>
  ~ @copyright Copyright (c) 2004-2013, Worth Solutions Limited
  ~ @license http://www.gnu.org/licenses/gpl-3.0.html The GNU General Public License V3.0
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-context.xml</param-value>
    </context-param>

    <filter>
        <filter-name>cacheFilter</filter-name>
        <filter-class>org.patientview.filter.CacheFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>cacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>specialtyFilter</filter-name>
        <filter-class>org.patientview.specialty.SpecialtyFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>specialtyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml, /WEB-INF/struts-config-ibd.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>xmlParser</servlet-name>
        <servlet-class>org.patientview.patientview.ParserMonitorServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.do</welcome-file>
    </welcome-file-list>

    <!-- todo what is this? -->
    <error-page>
        <error-code>400</error-code>
        <location>/patient_details.do</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/error.html</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/no-access.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error.html</location>
    </error-page>

    <!-- override the tld from the struts jar -->
    <jsp-config>
        <taglib>
            <taglib-uri>
                http://struts.apache.org/tags-logic
            </taglib-uri>
            <taglib-location>
                /META-INF/struts-logic.tld
            </taglib-location>
        </taglib>

        <taglib>
            <taglib-uri>
                http://struts.apache.org/tags-html
            </taglib-uri>
            <taglib-location>
                /META-INF/struts-html.tld
            </taglib-location>
        </taglib>
    </jsp-config>
</web-app>
