/* Fix for smile entities */
.sliderGroup .smile { font-size: 22px; }

.sliderGroup .smile.sad {
    font-size: 30px;
    margin-left: 2px;
    padding-top: 2px;
}

.sliderGroup .sliderHeading .topValue { width: 145px; }

.ie7 .sliderGroup .sliderHeading .topValue { width: 155px;}

.ie7 .sliderGroup .smile.sad {
    display: block;
    float: right;
    margin-left: 0px;
    margin-right: -10px;
    padding-top: 1px;
}

.ie7 .carousel-caption{
    background-color: #0066CC;
}