h1, h2{
	color: #0066cc;
}

.navbar-inner{
	background: #0066cc;
    filter: none;
	box-shadow: none;
	border-radius: 0;
	color: #fff;
}

.navbar .brand{
	background: url(../img/NHSlogo.gif) no-repeat 0 3px;
	color: white;
    font-weight: bold;
    height: 18px;
    margin-top: 2px;
    margin-left: 0;
    padding-left: 85px;
    padding-top: 3px;
    font-size: 12px;
    width: 300px;
    line-height: 1.2;
}

.navbar .navText{
    padding: 9px 10px 11px;
}

.navbar .container {
	width: 940px;
}

.navbar-form input{
	margin-top: 0;
}

.navbar .nav > li > a{
	color: #fff;
	font-size: 14px;
	width: 100%;
}

.nav-pills{
	border-bottom: 5px solid #ddd;
}

.nav-pills > li > a{
	color: #333;
	font-size: 13px;
	font-weight: bold;
	padding-right: 7px;
	padding-left: 7px;
}

.nav-pills > li:first-child > a{
	padding-left: 0;
}

.nav-pills > li:last-child > a{
	padding-right: 0;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover{
	background: none;
	color: #0066cc;
}

.nav li > a:hover{
	background: none;
	color: #06C;
}

.carousel .item{
	height: 292px;
}

.carousel-caption{
	background-color: rgba(0,102,204,0.75);
	left: 0;
	font-size: 14px;
	line-height: 16px;
	height: 262px;
	padding: 15px;
	width: 270px;
}

.carousel-control{
	background: none;
	border: 0;
}

.carousel-control.right{
	position: absolute;
	bottom: 5px;
	top: auto;
	right: 5px;
}

.carousel-control.left{
	position: absolute;
	bottom: 5px;
	left: auto;
	top: auto;
	right: 25px;
}

.readMoreBlueBox{
	bottom: 15px;
	color: #fff;
	display: inline-block;
	background-color: #003C77;
	border: 1px solid #011830;
	right: 15px;
	padding: 5px;
	position: absolute;
}

.readMoreBlueBox:hover{
	color: #fff;
}


.largeCarouselTitle{
	font-size: 40px;
	line-height: 40px;
	padding-bottom: 20px;
}

.seperatingBorders{
	border: solid #333;
	border-width: 4px 0;
	font-size: 12px;
}

.seperatingBorders img.pull-right{
	margin: 5px 0 5px 5px;
}

.mediumBlueTitle{
	color: #0066cc;
	font-size: 14px;
}

.titleSeperator{
	border-bottom: 1px solid #333;
	margin-bottom: 5px;
	padding-bottom: 3px;
}

.readMoreParagraph{
	color: #003c77;
	font-weight: bold;

}

.endOfParagraphLink{
	line-height: 40px;
}

.linkList{
	list-style-type: none;
	margin: 0;
}

.linkList li{
	border: solid #ddd;
	border-width: 0 0 1px 0;
	font-size: 12px;
	padding: 5px 0 3px 0;
}

.footer{
	margin-top: 80px;
	border-top: 5px solid #ddd;
	padding-top: 10px;
	margin-bottom: 40px;
}

.barSpeperatedNav{
	list-style-type: none;
	margin: 0;
}

.barSpeperatedNav li{
	float: left;
	margin-right: 5px;
}

.barSpeperatedNav li:not(:last-child):after{
	content : " | ";
}

.barSpeperatedNav li a{
	color: #003c77;
	font-weight: bold;
}

.medicalDiagram{
	text-align: center;
	margin: 0 0 20px 0;
}

.no-top-padding, .form-horizontal .control-label.no-top-padding{
    padding-top: 0;
}

.checkbox.inline.span6 {
    width: 447px;
}

.paragraphSizeTopMargin{
    margin-top: 9px;
}

.noSidePadding {
    padding-left: 0;
    padding-right: 0;
}

.flush-dl dt{
    margin-top: 9px;
}

.flush-dl dd{
    margin-left: 0;
}

.hidden {
    display: none!important;
}

.launchPadTextAlternative{
    background: url(/img/content/launchPadPlaceHolder.png);
    font-size: 25px;
    text-align: center;
    padding: 40px 0;
}

.launchPadTextAlternative.rpvResults{
    background: url(/img/content/resultsThumbPlaceHolder.png);
    font-size: 20px;
    padding: 60px 0;
}

.thumbnail .caption{
    text-align: center;
}

.thumbnail .caption h5{
    padding-bottom: 5px;
}

/* graph styles */
.linegraph {
    width: 540px;
    height: 350px;
    background-color: #fff;
    text-align: center;
}

.severe {
    color: #FE2E2E
}

.moderate {
    color: #FFBF00
}

.mild {
    color: #01DF01
}

.heroList {
    color: #fff;
    font-size: 16px;
}

.heroList li{
    margin-bottom: 5px;    
}

.control-label{
    font-weight: bold;
}

.medicalDiagramKey{
    margin-right: 10px;
}

.medicalDiagramKey dd{
    float: left;
    text-align: left;
}

.keyItem{
    background-color: red;
    border: 1px solid black;
    float: left;
    width: 10px;
    height: 10px;
    text-indent:-9999px;
    margin-top: 10px;
    overflow: hidden;
}

.sliderGroup {
    margin-top: 10px;
}

.sliderGroup .sliderHeading{
    display: inline-block;
    padding-left: 151px;
}

.sliderGroup .sliderHeading .bottomValue{
    float: left;
    font-weight: bold;
    text-align: center;
    width: 150px;
}

.sliderGroup .sliderHeading .topValue{
    float: left;
    font-weight: bold;
    text-align: right;
    width: 130px;
}

.sliderGroup .control-label{
    font-weight: normal;
    height: 35px;
    margin-bottom: 0;
    text-align: left;
    width: 170px;
}

.sliderGroup .sliderContainer{
    padding-top: 2px;
}

.sliderGroup .smile{
    float: left;
    display: block;
    font-style: normal;
    font-size: 17px;
    padding: 0 5px;
}

.padded-list li {
    margin-bottom: 5px;
}



