/* slider root element */
.slider {
    background: #06C;
    display: block;
    float: left;
    height:4px;
    position:relative;
    cursor:pointer;
    border:1px solid #333;
    width:210px;
    margin: 0 5px;
    clear:right;
    top: 6px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-box-shadow:inset 0 0 8px #000;
}

/* progress bar (enabled with progress: true) */
.progress {
    height:9px;
    background-color:#C5FF00;
    display:none;
    opacity:0.6;
}

/* drag handle */
.handle {
    background:#fff;
    height:15px;
    width: 5px;
    top: -8px;
    position:absolute;
    display:block;
    margin-top:1px;
    border:1px solid #000;
    cursor:move;
    -moz-box-shadow:0 0 3px #000;
    -webkit-box-shadow:0 0 3px #000;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;

}

/* the input field */
.sliderContainer .range {
    border:1px inset #ddd;
    display: none;
    float:left;
    font-size:20px;
    margin:0 0 0 15px;
    padding:3px 0;
    text-align:center;
    width:50px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
