<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 2.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">
<hibernate-configuration>
  <session-factory name="java:comp/env/hibernate/SessionFactory">
    <!-- properties -->
    <property name="connection.datasource">java:/comp/env/jdbc/patientview</property>
    <property name="dialect">net.sf.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">false</property>
    <property name="use_outer_join">true</property>
    <property name="transaction.factory_class">net.sf.hibernate.transaction.JDBCTransactionFactory</property>
    <property name="jta.UserTransaction">java:comp/UserTransaction</property>
    <!-- added to stop a javax.naming.NamingException: Context is read only warning -->
    <property name="hibernate.session_factory_name">jndi/composite/rpv-session-factory</property>

    <!-- mapping files -->
    <mapping resource="com/worthsoln/patientview/Aboutme.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/Comment.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/Diagnosis.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/EdtaCode.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/EmailVerification.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/Feedback.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/Letter.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/LogEntry.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/Medicine.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/News.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/Patient.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/PatientCount.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/ResultHeading.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/Splashpage.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/UktCode.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/UktStatus.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/Unit.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/UnitStat.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/User.hbm.xml"/>
    <mapping resource="com/worthsoln/patientview/UserMapping.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
