* {
	margin: 0;
}
html, body {
	height: 100%;
}
.outerWrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -120px;
}
.footer, .clearFooter {
	height: 120px;
}
.footer {
	background-color:green;
}