
<style> p, td {
    font-family: verdana;
    color: #000000;
    font-size: 12px;
} </style>
<p>Thank you for registering with the RaDaR website</p>
<p>Your access details are as follows:</p>
<span>Username: ${patientUser.username}</span> <br />
<span>Password: ${password}</span>
