vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Apr 2010 12:16:39 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|IH-001\\Ian
vti_modifiedby:SR|IH-001\\Ian
vti_timecreated:TR|10 Dec 2009 16:37:41 -0000
vti_backlinkinfo:VX|Lab.master MasterPage3.master z-test-layout-Page.htm MasterPageNoAjax.master MasterPageA.master admin/AdminMaster.master layout.html z-date-test.aspx MasterPage.master
vti_nexttolasttimemodified:TW|17 Mar 2010 13:07:26 -0000
vti_cacheddtm:TX|03 Apr 2010 12:16:39 -0000
vti_filesize:IR|2971
vti_cachedlinkinfo:VX|S|images/header-bg.png
vti_cachedsvcrellinks:VX|FSUS|images/header-bg.png
