vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Dec 2009 11:22:45 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|IH-001\\Ian
vti_modifiedby:SR|IH-001\\Ian
vti_timecreated:TR|11 Jun 2009 14:49:37 -0000
vti_backlinkinfo:VX|Lab.master z-test-layout-Page.htm relapse.aspx laboratory_results_table.aspx first-lab.aspx first-clinical.aspx followup-clinical.aspx followup-lab.aspx rrt_therapy.aspx diagnosis.aspx first-treatment.aspx followup-treatment.aspx demographics.aspx
vti_cacheddtm:TX|14 Dec 2009 11:22:45 -0000
vti_filesize:IR|1389
vti_cachedlinkinfo:VX|S|images/tableftC.gif S|images/tabrightCb.gif
vti_cachedsvcrellinks:VX|FSUS|images/tableftC.gif FSUS|images/tabrightCb.gif
