vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Dec 2009 11:25:55 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|IH-001\\Ian
vti_modifiedby:SR|IH-001\\Ian
vti_timecreated:TR|10 Jun 2009 20:15:38 -0000
vti_backlinkinfo:VX|Lab.master first-lab.aspx first-clinical.aspx followup-clinical.aspx followup-lab.aspx rrt_therapy.aspx first-treatment.aspx followup-treatment.aspx
vti_cacheddtm:TX|14 Dec 2009 11:25:55 -0000
vti_filesize:IR|1250
vti_cachedlinkinfo:VX|S|images/tableftC.gif S|images/tabrightCb.gif
vti_cachedsvcrellinks:VX|FSUS|images/tableftC.gif FSUS|images/tabrightCb.gif
