/*
body {
	color: #000;
	font-family: Verdana,'Trebuchet MS','Lucida Grande', Arial, sans-serif;
	font-size: .8em;
	line-height: 1.25em;
	margin: 0;
	padding: 0;
	text-align: center;
}

form,input,select,textarea {
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6 
{
	font-family:Georgia, Tahoma, Arial, Serif;
	font-weight:normal;
	line-height:1.6em;
	padding: 0;
	margin: 0;
}
input {
	font-size: 100%;
	margin-bottom: 2px;
	padding: 1px;
}
ol,ul {
	line-height: 1.4em;
	margin-bottom: 4px;
	margin-top: 4px;
}
p {
	line-height: 1.4em;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: justify;
}*/
table.pwdmeter {
	background: #345;
	margin-bottom: 10px;
	width: 100%;
}
td.pwdmeter {
	background: #eee;
	text-align: left;
	vertical-align: top;
}
th.pwdmeter {
	background: #456;
	color: #000;
	text-align: left;
	vertical-align: top;
}
#content {
	margin: 0 auto;
	padding: 10px;
	text-align: left;
	width: 610px;
}
#linkstop {
	background: #234;
	color: #000;
	margin-top: -10px;
	padding: 2px;
}
#linkstop a {
	color: #fff;
}

#score {
	color: #000;
	font-size: 85%;
	position:absolute;
	text-align: center;
	width: 100px;
	z-index: 10;
}
#score,#rating,#standards {
	font-weight: bold;
}
div.exceed {
	background-image: url(images/pwdmeter/img_status_exceed.png);
}
div.fail {
	background-image: url(images/pwdmeter/img_status_fail.png);
}
div.pass {
	background-image: url(images/pwdmeter/img_status_pass.png);
}
div.warn {
	background-image: url(images/pwdmeter/img_status_warn.png);
}

#scorebar {
	background-image: url(images/pwdmeter/bg_strength_gradient.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	position:absolute;
	width: 100px;
	z-index: 0;
}
#scorebarBorder {
	background: #333;
	border: 1px #000 solid;
	height: 16px;
	margin-bottom: 2px;
	width: 100px;
}
#password {
	border: 1px #000 solid;
	font-size: 85%;
	width: 100px;
}
#tablePwdScoring {
	margin-bottom: 0 !important;
}
#listLegend li {
	list-style: none;
	padding-bottom: 4px;
	margin-left: 0;
	padding-left: 0;
}
#listLegend {
	margin-left: 0;
	padding-left: 0;
}
div.fail,div.pass,div.exceed,div.warn {
	background-repeat: no-repeat;
	background-position: left top;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
	width: 16px;
}
td.exceed,td.fail,td.pass,td.warn {
	color: #fff;
	font-weight: bold;
	text-align: center;
}
td.exceed, .table tbody tr:hover td.exceed, .table tbody tr:hover th.exceed, .table-striped tbody tr:nth-child(odd) td.exceed, .table-striped tbody tr:nth-child(odd) th.exceed {
	background: #1C60A4;
}
td.fail, .table tbody tr:hover td.fail, .table tbody tr:hover th.fail, .table-striped tbody tr:nth-child(odd) td.fail, .table-striped tbody tr:nth-child(odd) th.fail {
	background: #C00;
}
td.pass, .table tbody tr:hover td.pass, .table tbody tr:hover th.pass, .table-striped tbody tr:nth-child(odd) td.pass, .table-striped tbody tr:nth-child(odd) th.pass {
	background: #093;
}
td.warn, .table tbody tr:hover td.warn, .table tbody tr:hover th.warn, .table-striped tbody tr:nth-child(odd) td.warn, .table-striped tbody tr:nth-child(odd) th.warn {
	background: #f60;
}
div.box {
	background: #456;
	border: 1px #000 solid;
	color: #fff;
	height: 16px;
	padding: 2px;
	white-space: nowrap;
	width: 38px;
}
div.boxMinus,div.boxPlus {
	border: none;
	color: #fff;
	font-weight: bold;
	padding: 2px;
	text-align: left;
	white-space: nowrap;
}
td.footnote {
	background: #ddd;
	font-size: 70%;
}
.bold {
	font-weight: bold;
}
.clearNone {
	clear: none;
}
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.hide {
	display: none;
}
.imgLegend {
	clear: left !important;
	float: left !important;
	position: relative !important;
	margin-bottom: -3px !important;
	margin-right: 5px !important;
}
.inline {
	display: inline;
}
.italic {
	font-style: italic;
}
.noPad {
	padding: 0;
}
.show {
	display: inline !important;
}
.txtLg {
	font-size: 125%;
}
.txtSmall {
	font-size: 75%;
}
.txtCenter {
	text-align: center;
}
.txtRight {
	text-align: right;
}
div.xtend {
	clear: both !important; 
	line-height: 0; 
	height: 0;
}
